@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  color: #fff;
  background-color: #e124ae;
}

/* BUTTONS CONFIGURATION */

.button {
  background-color: #ffff;
  border: none;
  border-radius: 0.2rem;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  margin-top: 0.5rem;
  margin-left: 0.1rem;
  text-align: center;
  font-weight: bold;
  color: #e124ae;
  font-size: 1.1rem;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.5s;
}

.button:hover {
  background-color: #e124ae;
  color: #ffff;
}

/* BODY PAGE */

body {
  font-family: "Caveat", cursive;
  background-color: #222121;
  text-align: center;
  color: #ffff;
  line-height: 1.4;
  font-weight: bold;
}

.container-fluid {
  margin: 0 auto;
  width: 75%;
}

/* NAV LIST */

nav {
  margin: 0 0.6rem 0 0.6rem;
  padding-block: 3rem;
  font-size: 1.1rem;
  padding-left: 0;
}

.nav-link {
  display: inline;
  text-decoration: none;
  color: #ffff;
  margin: 0 0.8rem 0 0.8rem;
  transition-duration: 0.5s;
}

.nav-link:hover {
  color: #e124ae;
}

.shopping_cart a i {
  color: #ffff;
  margin-left: 5rem;
  transition-duration: 0.5s;
}
.shopping_cart a i:hover {
  color: #e124ae;
}

.dropdown-menu {
  --bs-dropdown-link-color: #e124ae;
  --bs-dropdown-link-hover-color: #fff;
  --bs-dropdown-link-hover-bg: #e124ae;
}

/* MAIN PAGE */

.title {
  font-size: 6rem;
  color: #e124ae;
  text-decoration: none;
  transition-duration: 1.2s;
  animation: slide-in-blurred-top 2s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.title:hover {
  transition-duration: 1.2s;
  color: #ffff;
}

@keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

.main_section {
  font-size: 1.7rem;
  padding-block: 3rem;
  padding-inline: 1.2rem;
}

.first__section,
.third__section {
  background-color: rgb(24, 23, 23);
  padding-block: 1.6rem;
  margin-block: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}

.first__section:hover,
.third__section:hover {
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.photo__one,
.photo__two,
.photo__three {
  width: 75vh;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  object-fit: contain;
}

.phrase__one,
.phrase__three {
  padding-right: 1.5rem;
}

.phrase__two {
  padding-left: 1.5rem;
}

.second__section {
  background-color: #ffff;
  padding-block: 1.6rem;
  color: black;
  margin-block: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}

.second__section:hover {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

/* ABOUT US */

.about_us {
  padding-block: 3rem;
  padding-inline: 1.2rem;
  margin-bottom: 15rem;
  font-size: 1.7rem;
}

.about__us--first__section {
  display: flex;
  flex-direction: row;
  padding-block: 1.6rem;
  margin-block: 15rem;
}

.about__us--second__section {
  display: flex;
  flex-direction: row-reverse;
  padding-block: 1.6rem;
  margin-block: 15rem;
}

.about__us--third__section {
  display: flex;
  flex-direction: row;
  padding-block: 1.6rem;
  margin-block: 15rem;
}

.about__us--phrase {
  padding-left: 1.5rem;
}

.about__us--pic {
  width: 65vh;
}

/* CONTACT */

.contact {
  color: #ffff;
  padding-block: 3rem;
  padding-inline: 1.2rem;
  text-decoration: underline #e124ae;
}

.contact__form {
  margin-bottom: 15rem;
}

/* PRODUCTS */

.product__cuencos {
  padding-block: 3rem;
  margin-block: 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "img1 caja1"
    "caja2 img2"
    "img3 caja3"
    "caja4 img4"
    "img5 caja5";
  gap: 3rem;
  justify-content: center;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.img5 {
  grid-area: img5;
}

.caja1 {
  grid-area: caja1;
}

.caja2 {
  grid-area: caja2;
}

.caja3 {
  grid-area: caja3;
}

.caja4 {
  grid-area: caja4;
}

.caja5 {
  grid-area: caja5;
}

.product__cuencos img {
  width: 40vh;
  margin-bottom: 15rem;
}

.product__cuencos .button {
  margin-top: 2rem;
}

/* FAQ */

.faq_section {
  margin-bottom: 15rem;
  padding-block: 3rem;
}

.faq__section__one,
.faq__section__two,
.faq__section__three {
  font-size: 1.7rem;
  text-decoration: underline #e124ae;
  padding-bottom: 1.5rem;
}

.explanation__one,
.explanation__two,
.explanation__three {
  font-size: 1.4rem;
  padding-bottom: 8rem;
}

/* FOOTER */

.footer_page a {
  color: #ffff;
}

.footer_page a i {
  font-size: 1.8rem;
  transition-duration: 0.5s;
  margin-bottom: 1.5rem;
  padding-inline: 1rem;
}

.footer_page a i:hover {
  color: #e124ae;
}

.footer__copyright {
  font-size: 1.3rem;
}

.footer__copyright a {
  text-decoration: none;
  color: #ffff;
  display: inline;
  transition-duration: 0.5s;
}

.footer__copyright a:hover {
  color: #e124ae;
}

/*MOBILE FIRST*/

@media screen and (max-width: 1440px) and (min-width: 320px) {
  .title {
    font-size: 3rem;
  }

  .container-sm {
    overflow: hidden;
  }

  .nav_list {
    font-size: 0.8rem;
    margin: 0;
  }

  .nav__link {
    margin: 0.5rem;
  }

  .shopping_cart a i {
    margin-left: 0.5rem;
  }

  .main_section {
    font-size: 0.8rem;
    padding-block: 3rem;
    padding-inline: 0.5rem;
  }

  .first__section,
  .third__section {
    flex-direction: column;
  }

  .second__section {
    flex-direction: column-reverse;
  }

  .photo__one,
  .photo__two,
  .photo__three {
    width: 25vh;
    padding-bottom: 1rem;
  }

  .phrase__one,
  .phrase__two,
  .phrase__three {
    padding: 0;
  }

  .footer__copyright {
    font-size: 1rem;
  }

  .footer__icons {
    margin-bottom: 1rem;
  }

  .footer__icons a .fa-instagram {
    color: #e124ae;
  }

  .footer__icons a .fa-whatsapp {
    color: green;
  }

  .footer_page a i {
    font-size: 1.3rem;
  }

  .product__cuencos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas:
      "img1"
      "caja1"
      "img2"
      "caja2"
      "img3"
      "caja3"
      "img4"
      "caja4"
      "img5"
      "caja5";
    gap: 1rem;
    justify-content: center;
    font-size: 0.8rem;
  }

  .product__cuencos img {
    width: 20vh;
    margin-bottom: 0.2rem;
  }

  .product__cuencos .button {
    margin-bottom: 5rem;
  }

  .about_us {
    font-size: 0.8rem;
  }

  .about__us--pic {
    width: 20vh;
  }

  .about__us--first__section,
  .about__us--second__section,
  .about__us--third__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about__us--phrase {
    margin-top: 1rem;
    padding-left: 0;
  }

  .faq__section__one,
  .faq__section__two,
  .faq__section__three {
    font-size: 1.3rem;
  }

  .explanation__one,
  .explanation__two,
  .explanation__three {
    font-size: 0.8rem;
    padding-bottom: 8rem;
  }
}
