.button {
  background-color: $primary-color;
  border: none;
  border-radius: 0.2rem;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  margin-top: 0.5rem;
  margin-left: 0.1rem;
  text-align: center;
  font-weight: bold;
  color: $secondary-color;
  font-size: 1.1rem;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.5s;

  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }
}
