.faq_section {
  margin-bottom: 15rem;
  padding-block: 3rem;
}

.faq__section__one,
.faq__section__two,
.faq__section__three {
  font-size: 1.7rem;
  text-decoration: underline $secondary-color;
  padding-bottom: 1.5rem;
}

.explanation__one,
.explanation__two,
.explanation__three {
  font-size: 1.2rem;
  padding-bottom: 8rem;
}
