.footer_page a {
  color: $primary-color;

  i {
    font-size: 1.8rem;
    transition-duration: 0.5s;
    margin-bottom: 1.5rem;
    padding-inline: 1rem;

    &:hover {
      color: $secondary-color;
    }
  }
}

.footer__copyright {
  font-size: 1.2rem;

  a {
    text-decoration: none;
    color: $primary-color;
    display: inline;
    transition-duration: 0.5s;

    &:hover {
      color: $secondary-color;
    }
  }
}
