.about_us {
  padding-block: 3rem;
  padding-inline: 1.2rem;
  margin-bottom: 15rem;
  font-size: 1.2rem;
}

.about__us--first__section {
  display: flex;
  flex-direction: row;
  padding-block: 1.6rem;
  margin-block: 6rem;
  align-items: center;
}

.about__us--second__section {
  display: flex;
  flex-direction: row-reverse;
  padding-block: 1.6rem;
  margin-block: 6rem;
}

.about__us--third__section {
  display: flex;
  flex-direction: row;
  padding-block: 1.6rem;
  margin-block: 6rem;
}

.about__us--phrase {
  padding-left: 1.5rem;
}

.about__us--pic {
  width: 65vh;
}
