$primary-color: #ffffff;
$secondary-color: #e124ae;
$tertiary-color: black;
$wu-color: green;
$bg-color: #222121;
$card-color: rgb(24, 23, 23);
$shadow-color-one: rgba(240, 46, 170, 0.4) -5px 5px;
$shadow-color-two: rgba(240, 46, 170, 0.3) -10px 10px;
$shadow-color-three: rgba(240, 46, 170, 0.2) -15px 15px;
$shadow-color-four: rgba(240, 46, 170, 0.1) -20px 20px;
$shadow-color-five: rgba(240, 46, 170, 0.05) -25px 25px;
$font: "Caveat", cursive;
